<link rel='stylesheet' href='/static/styles.css' />

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
     <body>
       <h1>Double Major Class Requirement Finder</h1>
       <h2>To use our program, simply input the URLs to your major requirement page, this can be found <a href="https://catalog.unc.edu/undergraduate/programs-study/" target="_blank">here</a></h2>
       <br />
       <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/North_Carolina_Tar_Heels_logo.svg/2560px-North_Carolina_Tar_Heels_logo.svg.png" width="100"></center>
       <br />
       <br />
        <form method="post">
            <label for="url1">First Major</label>
            <input type="text" class="center id="title" name="url1" id="name" placeholder=" url goes here" value="" required />
            <br />
            <br />
            <label for="url2">Second Major:</label>
            <input type="text" class="center id="title" name="url2" id="name" placeholder=" url goes here" value="" required />
            <br />
            <br />
            <input type="submit" class="button" value="     Search for courses">
        </form>
    </body>
</html>